.getstartedbutton-login22-container {
  min-height: 100vh;
}
.getstartedbutton-login22-getstartedbutton-login22 {
  width: 1920px;
  height: 1080px;
  display: flex;
  overflow: hidden;
  position: relative;
  max-width: 1920px;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  background-color: rgba(47, 48, 58, 1);
}
.getstartedbutton-login22-text {
  top: 361px;
  left: 832px;
  color: rgba(255, 255, 255, 1);
  width: 957px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.getstartedbutton-login22-image {
  top: -561px;
  left: -357px;
  width: 1920px;
  height: 1915px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.getstartedbutton-login22-text01 {
  top: 70px;
  left: 71px;
  color: rgba(0, 0, 0, 0.9800000190734863);
  height: auto;
  position: absolute;
  font-size: 40px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 600px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.getstartedbutton-login22-home4313 {
  top: 84px;
  left: 405px;
  width: 60px;
  height: 30px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.getstartedbutton-login22-text02 {
  top: 0px;
  left: 0px;
  color: rgba(0, 0, 0, 0.9800000190734863);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.getstartedbutton-login22-questions4312 {
  top: 84px;
  left: 562px;
  width: 101px;
  height: 30px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.getstartedbutton-login22-text03 {
  top: 0px;
  left: 0px;
  color: rgba(0, 0, 0, 0.9800000190734863);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.getstartedbutton-login22-tags4314 {
  top: 84px;
  left: 758px;
  width: 50px;
  height: 30px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.getstartedbutton-login22-text04 {
  top: 0px;
  left: 0px;
  color: rgba(0, 0, 0, 0.9800000190734863);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.getstartedbutton-login22-image1 {
  top: 492px;
  left: 33px;
  width: 725px;
  height: 400px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.getstartedbutton-login22-group794318 {
  top: 74px;
  left: 891px;
  width: 295px;
  height: 50px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.getstartedbutton-login22-rectangle14317 {
  top: 0px;
  left: 0px;
  width: 295px;
  height: 50px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.getstartedbutton-login22-image2 {
  top: 0px;
  left: 0px;
  width: 295px;
  height: 50px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
  border-radius: 100px;
  background-color: rgba(204, 204, 204, 0.699999988079071);
}
.getstartedbutton-login22-text05 {
  top: 10px;
  left: 80px;
  color: rgba(0, 0, 0, 0.800000011920929);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.getstartedbutton-login22-image3 {
  top: 15px;
  left: 238px;
  width: 25px;
  height: 25px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.getstartedbutton-login22-text06 {
  top: 279px;
  left: 891px;
  color: rgba(255, 255, 255, 0.9800000190734863);
  width: 1113px;
  height: auto;
  position: absolute;
  font-size: 36px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 600px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.getstartedbutton-login22-group704311 {
  top: 739px;
  left: 1153px;
  width: 250px;
  height: 60px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.getstartedbutton-login22-image4 {
  top: 0px;
  left: 0px;
  width: 250px;
  height: 60px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
  border-radius: 10px;
  background-color: rgba(136, 225, 225, 0.699999988079071);
}
.getstartedbutton-login22-text07 {
  top: 14px;
  left: 56px;
  color: rgba(0, 0, 0, 0.800000011920929);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.getstartedbutton-login22-group694310 {
  top: 76px;
  left: 1596px;
  width: 150px;
  height: 50px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.getstartedbutton-login22-image5 {
  top: 0px;
  left: 0px;
  width: 150px;
  height: 50px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
  border-radius: 100px;
  background-color: rgba(136, 225, 225, 0.699999988079071);
}
.getstartedbutton-login22-text08 {
  top: 8px;
  left: 37px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.getstartedbutton-login22-group68439 {
  top: 77px;
  left: 1431px;
  width: 150px;
  height: 50px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.getstartedbutton-login22-image6 {
  top: 0px;
  left: 0px;
  width: 150px;
  height: 50px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
  border-radius: 100px;
  background-color: rgba(136, 225, 225, 0.699999988079071);
}
.getstartedbutton-login22-text09 {
  top: 9px;
  left: 47px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
